<p class="text-info">
    <img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.title}}"/>
    {{product.title}}: {{product.artist}}<br />
</p>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- product info -->
            <table class="table table-bordered">

                <tr class="well">
                    <td class="tdRight" colspan="3" >
                        <a href="default.htm#/cart" title="ir para o carrinho de compras" ng-disabled="cart.getTotalCount() < 1">
                            <i class="icon-shopping-cart" />
                            <b>{{cart.getTotalCount()}}</b> artigos, <b>{{cart.getTotalPrice() | currency:"€"}}</b>
                            <span ng-show="cart.getTotalCount(product.albumID) > 0"><br />Já esta no carrinho</span>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="tdRight"><b>Titulo</b></td>
                    <td class="tdCenter"><h3>{{product.title}}</h3></td>
                    <td />
                </tr>
                <tr>
                    <td class="tdRight"><b>Artista</b></td>
                    <td class="tdCenter"><h3>{{product.artist}}</h3></td>
                    <td />
                </tr>
                <tr>
                    <td class="tdRight"><b>Genero</b></td>
                    <td class="tdCenter"><h3>{{product.genre}}</h3></td>
                    <td />
                </tr>
                <tr class="well">
                    <td class="tdRight" colspan="3" >
                        <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                            <i class="icon-shopping-cart" />
                            <b>{{cart.getTotalCount()}}</b> artigos, <b>{{cart.getTotalPrice() | currency}}</b>
                            <span ng-show="cart.getTotalCount(product.albumID) > 0"><br />Já esta no carrinho</span>
                        </a>
                    </td>
                </tr>

            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <button 
                class="btn btn-block btn-success" 
                ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                <i class="icon-shopping-cart icon-white" /> Adicionar
            </button>
            <button 
                class="btn btn-block btn-danger" 
                ng-click="cart.addItem(product.sku, product.name, product.price, -10000)"
                ng-disabled="cart.getTotalCount(product.sku) < 1">
                <i class="icon-trash icon-white" /> Remover
            </button>
            <button 
                class="btn btn-block" 
                onclick="window.location.href=''">
                <i class="icon-chevron-left" /> Volta a loja
            </button>
        </div>
    </div>
</div>

