<p class="text-info">
    Bem-vindo a loja de musica.<br />
</p>


<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="ir para o carro de compras" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> artigo, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'title' | filter:search" >
        <td class="tdCenter"><img ng-src="{{product.url}}" alt="img {{product.title}}" style="height: 100px"  /></td>
        <td>
            <a href="#/products/{{product.albumID}}"><b>{{product.title}}</b></a><br />
            {{product.artist}}
        </td>
        <td class="tdRight">
            {{product.price | currency:"€"}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.albumID, product.title, product.price, 1)">
                Adicionar
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> artigos, <b>{{cart.getTotalPrice() | currency:"€"}}</b>
            </a>
        </td>
    </tr>
</table>
