
<table class="table table-bordered">
    <tr class="well" style="background-color: #2E8BCC">
        <td class="tdRight" colspan="5" >
            <a href="default.php#/cart" title="ir para o carro de compras" ng-disabled="cart.getTotalCount() < 1" style="color: white">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> artigo, <b>{{cart.getTotalPrice() | currency:"&euro;"}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'title' | filter:search" >
        <td class="tdCenter"><img ng-src="{{product.url}}" alt="img {{product.title}}" style="height: 100px"  /></td>
        <td>
            <a href="#/products/{{product.albumID}}"><b>{{product.title}}</b></a><br />
            {{product.artist}}
        </td>
        <td class="tdRight">
            {{product.qtdStock}}
        </td>
        <td class="tdRight">
            {{product.price | currency:"&euro;"}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.albumID, product.title, product.price, 1, product.qtdStock)">
                Adicionar
            </a>
        </td>
    </tr>
    <tr class="well" style="background-color: #2E8BCC">
        <td class="tdRight" colspan="5">
            <a href="default.php#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1" style="color: white">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> artigos, <b>{{cart.getTotalPrice() | currency:"&euro;"}}</b>
            </a>
        </td>
    </tr>
</table>
