@model MvcMusicStore.Models.User
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var username = "";
    var password = "";
    var confirmPassword = "";
    var errorMessage = "";

    if (!IsPost)
    {
        if (WebSecurity.IsAuthenticated)
        {
            errorMessage = String.Format("You are already logged in. (User name: {0})", WebSecurity.CurrentUserName);
        }

    }
    else
    {
        WebSecurity.Logout();
        username = Request["username"];
        password = Request["password"];
        confirmPassword = Request["confirmPassword"];

        if (password != confirmPassword)
        {
            errorMessage = "Passwords don't match.";
        }
        else
        {
            if (WebSecurity.UserExists(username))
            {
                errorMessage = String.Format("User '{0}' already exists.", username);
            }
            else
            {
                var crypto = new SimpleCrypto.PBKDF2();

<<<<<<< HEAD
                WebSecurity.CreateUserAndAccount(username, password, null, false);
                Roles.AddUserToRole(username, "Members");
=======
                WebSecurity.CreateUserAndAccount("Loja", username, password, false);//para enviar email
>>>>>>> origin/master
                WebSecurity.Login(username, password, true);
                
                errorMessage = String.Format("{0} created.", username);
            }

        }

    }
}


    <h1>Register</h1>

    <form method="post">

        <p>

            @if (errorMessage != "")
            {

                <span class="errorMessage">@Html.Raw(errorMessage)</span>

            }

        </p>



        <p>

            <label for="username">Username (email):</label><br />

            <input type="text" name="username" id="username" value='@Request["username"]' />

        </p>

        <p>

            <label for="password">Password:</label><br />

            <input type="password" name="password" id="password" value="" />

        </p>

        <p>

            <label for="confirmPassword">Confirm password:</label><br />

            <input type="password" name="confirmPassword" id="confirmPassword" value="" />

        </p>



        <p>

            <input type="submit" value="Submit" />

        </p>

        <p>

            @Html.ActionLink("Log Out", "LogOut", "User")

            <br />

            <a href="@Href("~/Home")">Home</a>

        </p>

    </form>

